html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#characterModal {
  user-select: none;
}
.statusView {
  margin-top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: gray;
}
.navbar-brand img {
  transform: scaleX(-1);
} 
.card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
  user-select: none;
  /* min-width: 350px; */
}
.card:hover{
  transform: scale(1.01);
  cursor: pointer;
}

li {
  list-style: none;
}
.statusModal{
  position: absolute;
  /* top: 10px; */
  height: 25px;
  width: 25px;
}